<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539015066127-j2g2r6ja840q6a5n28eec8ub23qkrvcn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539015066127-j2g2r6ja840q6a5n28eec8ub23qkrvcn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>539015066127-mvr4notaeblk0n6a4dqtcp6jm9j372hb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAxhoFEr2B1OF7IzZxWdoMqMMWZlP2AFFw</string>
	<key>GCM_SENDER_ID</key>
	<string>539015066127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.spiritualliving</string>
	<key>PROJECT_ID</key>
	<string>spiritual-living-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>spiritual-living-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539015066127:ios:2d9a41835c9b8aefd3697a</string>
</dict>
</plist>